{{ partial "meta.html" . }}
<meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}">
<meta proeprty="og:site_name" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.image }}
<meta property="og:image" content="{{ .Params.image | absURL }}">
{{ else }}
    {{ if .Site.Params.cover }}
<meta property="og:image" content="{{ .Site.Params.cover | absURL }}">
    {{ end }}
{{ end }}
{{ if .IsPage }}
<meta property="og:description" content="{{ .Description }}">
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
{{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{ else }}
<meta property="og:type" content="website">
<meta property="og:description" content="{{ .Site.Params.description }}">
{{ end }}

<title>{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

<link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL}}">

<style>
    {{ replaceRE " +" " " (replaceRE "\n" "" (replaceRE "^@charset \"UTF-8\";" "" ( partial "css/main.css" . ))) | safeCSS }}
</style>

{{ range .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<link rel="canonical" href="{{ .Permalink }}">

{{with .Site.Params.googleAnalyticsUserID }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ . }}');
</script>
{{ end }}