/// 読み込み中
.loading {
    background: rgb(255,255,255);
    min-height: 100vh;
    position: fixed;
    top: 0;
    transition: opacity .5s ease-out;
    left: 0;
    width: percentage(1/1);

    &.loaded {
        opacity: 0;
    }
}