/// メニューアイコン
.icon {
    display: inline-block;
    fill: currentColor;
    height: 28px;
    width: 28px;
    vertical-align: middle;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
}

.icon-menu-toggle {
    width: 18px;
    height: 18px;
  top: 0;
}

/* Animate menu icon (lines). */
.svg-menu-toggle .line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 14px 14px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .line-1 {
  transform-origin: 14px 14px * 2.5;
}
.svg-menu-toggle .line-3 {
  transform-origin: 14px 14px * 4.5;
}

.opened {
    .nav-toggle .svg-menu-toggle .line-1 {
        transform: rotate(45deg) translateY(0) translateX(0);
    }
    .nav-toggle .svg-menu-toggle .line-2 {
    opacity: 0;
    }
    .nav-toggle .svg-menu-toggle .line-3 {
    transform: rotate(-45deg) translateY(0em) translateX(0em);
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}